@import "tailwindcss";

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-Thin.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-ThinItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-LightItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-RegularItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-MediumItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-BoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-Black.woff2")
    format("woff2");
}

@font-face {
  font-family: "FK Grotesk Mono";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/fk-grotesk-mono/FKGroteskMonoTrial-BlackItalic.woff2")
    format("woff2");
}

@theme {
  --font-fk-grotesk-mono: "FK Grotesk Mono", monospace;
}

@utility container {
  @apply mx-auto max-w-[1448px] px-[20px] lg:px-[196px];
}

@layer components {
  .gif-wrapper {
    position: relative;
  }

  .gif-frame {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    object-fit: cover;
  }

  .gif-frame:nth-child(1) {
    animation: showFrame 3.2s steps(1) infinite;
    animation-delay: 0s;
  }

  .gif-frame:nth-child(2) {
    animation: showFrame 3.2s steps(1) infinite;
    animation-delay: 0.8s;
  }

  .gif-frame:nth-child(3) {
    animation: showFrame 3.2s steps(1) infinite;
    animation-delay: 1.6s;
  }

  .gif-frame:nth-child(4) {
    animation: showFrame 3.2s steps(1) infinite;
    animation-delay: 2.4s;
  }

  @keyframes showFrame {
    0% {
      opacity: 1;
    }
    24.9% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
