---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import SkipLink from "@/components/SkipLink.astro";
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex h-full flex-col">
    <Header title="About" />
    <section>
      <div id="fixed-container" class="container">
        <div class="relative">
          <a
            href="/"
            style="left: var(--container-padding)"
            class="left-fixed fixed top-[300px] z-10 max-w-[140px] font-bold uppercase"
          >
            Ingkar Abdrakhman
          </a>
          <p
            style="right: var(--container-padding)"
            class="right-fixed fixed top-[300px] z-10 max-w-[140px] font-bold uppercase"
          >
            graphic designer
          </p>
        </div>
      </div>
    </section>
    <SkipLink />
    <main id="main" class="flex-auto pt-[154px]" aria-label="Main content">
      <section>
        <div class="container">
          <div class="flex flex-col gap-y-[48px] uppercase">
            <h1 class="sr-only font-bold md:not-sr-only">About</h1>
            <div class="text-[24px] leading-[227%] md:leading-[90%]">
              <p class="font-bold">
                Ingkar is a graphic designer from Astana (kazakhstan).
              </p>
              <p>Interested in lettering, branding, illustration.</p>
            </div>
            <div class="text-[24px] leading-[227%] md:leading-[90%]">
              <p class="font-bold">experience</p>
              <p>freelance 2023+</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </div>
</Layout>

<script>
  const updateFixedOffsets = (): void => {
    const container = document.getElementById("fixed-container");
    if (!container) return;

    const containerRect = container.getBoundingClientRect();
    const left = containerRect.left;
    const right = window.innerWidth - containerRect.right;

    const leftFixed = document.querySelector<HTMLElement>(".left-fixed");
    const rightFixed = document.querySelector<HTMLElement>(".right-fixed");

    leftFixed?.style.setProperty("left", `${left + 30}px`);
    rightFixed?.style.setProperty("right", `${right + 30}px`);
  };

  window.addEventListener("DOMContentLoaded", updateFixedOffsets);
  window.addEventListener("resize", updateFixedOffsets);
</script>
