---
import AuruProject from "@/components/AuruProject.astro";
import CafeJosefProject from "@/components/CafeJosefProject.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import NexusProject from "@/components/NexusProject.astro";
import OtherProject from "@/components/OtherProject.astro";
import S23Project from "@/components/S23Project.astro";
import SkipLink from "@/components/SkipLink.astro";
import ToTheTop from "@/components/ToTheTop.astro";
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex h-full flex-col">
    <Header title="Ingkar Abdrakhman" backNavLink="about" />
    <section>
      <div id="fixed-container" class="container">
        <div class="relative">
          <a
            href="/"
            style="left: var(--container-padding)"
            class="left-fixed fixed top-[300px] z-10 max-w-[140px] font-bold uppercase"
          >
            Ingkar Abdrakhman
          </a>
          <p
            style="right: var(--container-padding)"
            class="right-fixed fixed top-[300px] z-10 max-w-[140px] font-bold uppercase"
          >
            graphic designer
          </p>
        </div>
      </div>
    </section>
    <SkipLink />
    <main id="main" class="flex-auto pt-[154px]" aria-label="Main content">
      <NexusProject />
      <AuruProject />
      <CafeJosefProject />
      <S23Project />
      <!-- <OtherProject /> -->
      <section class="mt-[60px]">
        <div class="container">
          <div class="flex justify-end">
            <ToTheTop />
          </div>
        </div>
      </section>
      <section class="mt-[60px]">
        <div class="container">
          <div>
            <h2
              class="font-bold uppercase lg:text-[50px] xl:text-[70px] [@media(min-width:1400px)]:text-[80px]"
            >
              let’s work together
            </h2>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </div>
</Layout>

<script>
  const updateFixedOffsets = (): void => {
    const container = document.getElementById("fixed-container");
    if (!container) return;

    const containerRect = container.getBoundingClientRect();
    const left = containerRect.left;
    const right = window.innerWidth - containerRect.right;

    const leftFixed = document.querySelector<HTMLElement>(".left-fixed");
    const rightFixed = document.querySelector<HTMLElement>(".right-fixed");

    leftFixed?.style.setProperty("left", `${left + 30}px`);
    rightFixed?.style.setProperty("right", `${right + 30}px`);
  };

  window.addEventListener("DOMContentLoaded", updateFixedOffsets);
  window.addEventListener("resize", updateFixedOffsets);
</script>
