<footer class="mt-[46px] lg:mt-[60px]">
  <div class="container">
    <div class="pb-[200px] lg:py-[64px]">
      <ul
        class="flex flex-col items-start gap-y-[12px] lg:flex-row lg:gap-x-[130px] lg:gap-y-[10px]"
      >
        <li class="flex">
          <a
            target="_blank"
            href="mailto:abdrakhman03@gmail.com"
            class="py-[4px] uppercase focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2 active:font-bold lg:max-w-[134px] lg:p-[10px] [@media(hover:hover)]:hover:font-bold"
            >Email</a
          >
        </li>
        <li class="flex">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.instagram.com/ingkar.xyz"
            class="py-[4px] uppercase focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2 active:font-bold lg:max-w-[134px] lg:p-[10px] lg:no-underline [@media(hover:hover)]:hover:font-bold"
            >Instagram</a
          >
        </li>
        <li class="flex">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://t.me/ingkarxyz"
            class="py-[4px] uppercase focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2 active:font-bold lg:max-w-[134px] lg:p-[10px] [@media(hover:hover)]:hover:font-bold"
            >Telegram</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
