<footer class="mt-[60px]">
  <div class="container">
    <div class="py-[64px]">
      <ul
        class="flex flex-col items-start gap-y-[10px] md:flex-row md:gap-x-[100px] lg:gap-x-[130px]"
      >
        <li class="flex">
          <a
            href="#mailto:email@example.com"
            class="p-[10px] uppercase focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2 active:font-bold md:max-w-[134px] md:p-0 [@media(hover:hover)]:hover:font-bold"
            >Email</a
          >
        </li>
        <li class="flex">
          <a
            href="#instagram"
            class="p-[10px] uppercase focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2 active:font-bold md:max-w-[134px] md:p-0 [@media(hover:hover)]:hover:font-bold"
            >Instagram</a
          >
        </li>
        <li class="flex">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://t.me/ingkarxyz"
            class="p-[10px] uppercase focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2 active:font-bold md:max-w-[134px] md:p-0 [@media(hover:hover)]:hover:font-bold"
            >Telegram</a
          >
        </li>
        <li class="flex md:ml-auto">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.instagram.com/untl___"
            class="p-[10px] uppercase focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2 active:font-bold md:max-w-[134px] md:p-0 [@media(hover:hover)]:hover:font-bold"
            >developed by @untl__</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
