---
const { reverse = false } = Astro.props;
---

<div class="fixed top-[46px] left-0 z-20 w-full mix-blend-difference lg:hidden">
  <div class="container">
    <div
      class={`flex items-start justify-between ${reverse ? "flex-row-reverse" : ""}`}
    >
      <a href="/" class="inline-block max-w-[110px] font-bold uppercase"
        ><svg
          width="105"
          height="26"
          viewBox="0 0 105 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g style="mix-blend-mode:difference">
            <path
              d="M9.408 0.48V2.384H6.512V10.096H9.408V12H1.16V10.096H4.048V2.384H1.16V0.48H9.408ZM11.4505 0.48H14.1945L17.9465 8.208H18.0745V0.48H20.2345V12H17.4905L13.7385 4.272H13.6105V12H11.4505V0.48ZM21.509 6.24C21.509 2.512 23.301 0.287999 26.661 0.287999C29.997 0.287999 31.181 2.456 31.229 4.224V4.464H28.973C28.949 3.584 28.501 2.336 26.701 2.336C24.813 2.336 23.997 3.84 23.997 6.24C23.997 8.64 24.821 10.144 26.701 10.144C28.557 10.144 28.997 8.752 29.013 7.792H26.205V5.88H31.341V6.632C31.341 9.968 29.997 12.192 26.653 12.192C23.301 12.192 21.509 9.968 21.509 6.24ZM32.6075 0.48H35.0475V5.176H35.1755L39.2475 0.48H41.8875V0.719999L37.1915 6.048L42.0555 11.76V12H39.2635L35.1755 7.216H35.0475V12H32.6075V0.48ZM45.946 0.48H49.114L52.586 11.76V12H50.194L49.418 9.304H45.586L44.81 12H42.474V11.76L45.946 0.48ZM46.106 7.264H48.898L47.562 2.624H47.434L46.106 7.264ZM59.1165 0.48C61.2445 0.48 62.9325 1.648 62.9325 3.912C62.9325 6.152 61.3645 7.328 59.4285 7.328H59.1965L62.9645 11.76V12H60.3165L56.3645 7.288H56.2045V12H53.7885V0.48H59.1165ZM56.2045 5.488H58.7325C59.8125 5.488 60.5485 4.984 60.5485 3.976C60.5485 2.968 59.8125 2.472 58.7325 2.472H56.2045V5.488ZM3.696 14.48H6.864L10.336 25.76V26H7.944L7.168 23.304H3.336L2.56 26H0.224V25.76L3.696 14.48ZM3.856 21.264H6.648L5.312 16.624H5.184L3.856 21.264ZM16.7465 14.48C18.8265 14.48 20.4265 15.384 20.4265 17.344C20.4265 19.176 19.2425 19.776 18.6105 19.92V20.048C19.3465 20.224 20.7065 20.808 20.7065 22.784C20.7065 24.928 18.9785 26 16.8585 26H11.5305V14.48H16.7465ZM13.9465 24.008H16.4905C17.5465 24.008 18.3065 23.64 18.3065 22.592C18.3065 21.536 17.5465 21.168 16.4905 21.168H13.9465V24.008ZM13.9465 19.176H16.3785C17.3945 19.176 18.1065 18.832 18.1065 17.824C18.1065 16.816 17.3945 16.472 16.3785 16.472H13.9465V19.176ZM25.853 14.48C29.365 14.48 31.309 16.6 31.309 20.24C31.309 23.88 29.365 26 25.853 26H22.029V14.48H25.853ZM24.477 23.952H25.677C27.661 23.952 28.845 22.712 28.845 20.24C28.845 17.768 27.661 16.528 25.677 16.528H24.477V23.952ZM37.9915 14.48C40.1195 14.48 41.8075 15.648 41.8075 17.912C41.8075 20.152 40.2395 21.328 38.3035 21.328H38.0715L41.8395 25.76V26H39.1915L35.2395 21.288H35.0795V26H32.6635V14.48H37.9915ZM35.0795 19.488H37.6075C38.6875 19.488 39.4235 18.984 39.4235 17.976C39.4235 16.968 38.6875 16.472 37.6075 16.472H35.0795V19.488ZM45.946 14.48H49.114L52.586 25.76V26H50.194L49.418 23.304H45.586L44.81 26H42.474V25.76L45.946 14.48ZM46.106 21.264H48.898L47.562 16.624H47.434L46.106 21.264ZM53.7325 14.48H56.1725V19.176H56.3005L60.3725 14.48H63.0125V14.72L58.3165 20.048L63.1805 25.76V26H60.3885L56.3005 21.216H56.1725V26H53.7325V14.48ZM64.263 14.48H66.711V19.152H70.599V14.48H73.047V26H70.599V21.256H66.711V26H64.263V14.48ZM74.6015 14.48H77.4495L79.1695 22.672H79.2975L81.0175 14.48H83.8335V26H81.8495V18.712H81.7215L80.1775 26H78.2575L76.7135 18.712H76.5855V26H74.6015V14.48ZM88.196 14.48H91.364L94.836 25.76V26H92.444L91.668 23.304H87.836L87.06 26H84.724V25.76L88.196 14.48ZM88.356 21.264H91.148L89.812 16.624H89.684L88.356 21.264ZM95.9505 14.48H98.6945L102.447 22.208H102.575V14.48H104.735V26H101.991L98.2385 18.272H98.1105V26H95.9505V14.48Z"
              fill="white"></path>
          </g>
        </svg>
      </a>
      <a href="/about" class="inline-block font-bold uppercase"
        ><svg
          width="53"
          height="13"
          viewBox="0 0 53 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g style="mix-blend-mode:difference">
            <path
              d="M3.8835 0.48H7.0515L10.5235 11.76V12H8.1315L7.3555 9.304H3.5235L2.7475 12H0.4115V11.76L3.8835 0.48ZM4.0435 7.264H6.8355L5.4995 2.624H5.3715L4.0435 7.264ZM16.934 0.48C19.014 0.48 20.614 1.384 20.614 3.344C20.614 5.176 19.43 5.776 18.798 5.92V6.048C19.534 6.224 20.894 6.808 20.894 8.784C20.894 10.928 19.166 12 17.046 12H11.718V0.48H16.934ZM14.134 10.008H16.678C17.734 10.008 18.494 9.64 18.494 8.592C18.494 7.536 17.734 7.168 16.678 7.168H14.134V10.008ZM14.134 5.176H16.566C17.582 5.176 18.294 4.832 18.294 3.824C18.294 2.816 17.582 2.472 16.566 2.472H14.134V5.176ZM21.7925 6.24C21.7925 2.16 23.6405 0.287999 26.5925 0.287999C29.5445 0.287999 31.3925 2.16 31.3925 6.24C31.3925 10.32 29.5445 12.192 26.5925 12.192C23.6405 12.192 21.7925 10.32 21.7925 6.24ZM24.2725 6.24C24.2725 9.064 25.1365 10.144 26.5925 10.144C28.0485 10.144 28.9125 9.064 28.9125 6.24C28.9125 3.416 28.0485 2.336 26.5925 2.336C25.1365 2.336 24.2725 3.416 24.2725 6.24ZM32.763 0.48H35.211V8.128C35.211 9.368 35.875 10.064 37.155 10.064C38.435 10.064 39.099 9.368 39.099 8.128V0.48H41.547V8.024C41.547 10.64 40.059 12.192 37.155 12.192C34.315 12.192 32.763 10.64 32.763 8.024V0.48ZM42.9175 0.48H52.5175V2.552H48.9495V12H46.4855V2.552H42.9175V0.48Z"
              fill="white"></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
