<section>
  <header class="mx-auto max-w-md px-4 py-8">
    <h1>Ingkar Abdrakhman</h1>
    <div class="mt-4 flex flex-col gap-4">
      <p class="font-fk-grotesk-mono font-black">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-black italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-bold italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-medium italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-normal">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-normal italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-thin">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <p class="font-fk-grotesk-mono font-thin italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
    </div>
  </header>
</section>
